default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\ApiMenuContext

    extensions:
        Symfony\Behat3Extension:
            environment_variables:
                APP_ENV: test
                
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                environment: test
                debug: true
