default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null

test:
    suites:
        default:
            paths:
                - "%paths.base%/features"
            contexts:
                - App\Behat\Context\ApiMenuContext

    extensions:
        FriendsOfBehat\SymfonyExtension: ~
