name: Code Quality Check

on:
  push:
    branches:
      - master
      - 'feature/**'
      - 'hotfix/**'
      - 'release/**'
  pull_request:
    branches:
      - master
      - 'feature/**'
      - 'hotfix/**'
      - 'release/**'

jobs:
  code_quality:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: intl, opcache, pdo, pdo_mysql, zip
          coverage: none

      - name: Install dependencies
        run: composer install --no-ansi --no-interaction --no-progress --no-scripts --optimize-autoloader --no-suggest

      - name: Check code style
        run: vendor/bin/phpcs

      - name: Check static analysis with Psalm
        run: vendor/bin/psalm

      - name: Check static analysis with PHPStan
        run: vendor/bin/phpstan analyze --memory-limit=-1

      - name: Fail job if there were errors
        run: |
          phpcs_result=$?
          psalm_result=$?
          phpstan_result=$?
          if [ $phpcs_result -ne 0 ] || [ $psalm_result -ne 0 ] || [ $phpstan_result -ne 0 ]; then
            exit 1
          fi
